<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Estate Agency</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/images/img/favicon.png" rel="icon">
  <link href="/images/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/stylesheets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/stylesheets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/stylesheets/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/stylesheets/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/stylesheets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <!-- Main Stylesheet File -->
  <link href="/stylesheets/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: EstateAgency
    Theme URL: https://bootstrapmade.com/real-estate-agency-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>
<style>
  .active{
    color: white !important;
  }
  .chat {
    background-color:rgb(128, 128, 128) ;
    color: white;
    padding: 20px;
    border-radius: 20px 0 20px 0;
    /* display: inline; */
    /* box-sizing: border-box; */
    width: 600px;
  }

  
  /* @media only screen and (max-width: 768px) {
    .message {
    width: 400px !important;
  }
  .message2 {
    width: 200px !important;
  }
} */

.search-text-input{
			border-top:thin solid  #e5e5e5;
			border-right:thin solid #e5e5e5;
			border-bottom:0;
			border-left:thin solid  #e5e5e5;
			box-shadow:0px 1px 1px 1px #e5e5e5;
			float:left;
			/* height:17px; */
			margin:.8em 0 0 .5em; 
			outline:0;
			/* padding:.4em 0 .4em .6em;  */
			width:80%; 
		}
		  
		#button-holder{
			/* background-color:#f1f1f1; */
			/* border-top:thin solid #e5e5e5; */
			box-shadow:1px 1px 1px 1px #e5e5e5;
			cursor:pointer;
			float:left;
			/* font-size: 30px; */
			/* height:27px; */
			margin:100px 0 0 0;
			text-align:center;
			width:50px;
		}
</style>
<body>

 
  <!--/ Nav End /-->

 <div class="container-fluid">
    <div class="row">
        <div class="col-md-3" style="background-color: rgb(39, 39, 83); padding-bottom: 50px; padding-top: 50px;">
          <div class="card list-group" style="background: none; border: none; line-height: 50px;">
            <li class="list-group-item " style="background: none; color: rgb(213, 210, 241); border: none;"><strong><span style="margin-right: 10px; font-size: 20px;"><i class="fas fa-chart-line"></i></span><a  style="text-decoration: none; color: inherit;" href="/admin/dashboard" title="Go back to Admin Dashboard" >Dashboard</a> </strong></li>
            <li class="list-group-item active " style="background: none; color: rgb(213, 210, 241); border: none;"><strong> <span style="margin-right: 5px; font-size: 20px;"><i class="fas fa-users"></i></span> <a style="text-decoration: none; color: inherit;" href="/admin/users" title="View All Registered users" >Registered Users</a>  </strong></li>
            <li class="list-group-item " style="background: none; color: rgb(213, 210, 241); border: none;"><strong> <span style="margin-right: 5px; font-size: 20px;"><i class="fas fa-mail-bulk"></i></span> <a style="text-decoration: none; color: inherit;" href="/admin/messages" title="View All Messages" >All Messages</a> </strong></li>
            <li class="list-group-item" style="background: none; color: rgb(213, 210, 241); border: none;"><strong> <span style="margin-right: 5px; font-size: 20px;"><i class="fas fa-city"></i></span><a style="text-decoration: none; color: inherit;" href="/admin/properties" title="View All Properties" >All Properties</a> </strong></li>
            <li class="list-group-item " style="background: none; color: rgb(213, 210, 241); border: none;"><strong> <span style="margin-right: 5px; font-size: 20px;"><i class="fas fa-user-circle"></i></span> <a style="text-decoration: none; color: inherit;" href="/admin/agents" title="View All Registered Agents" >Registered Agents</strong></a></li>
            <li  class="list-group-item" style="background: none; color: rgb(213, 210, 241); border: none;"><strong> <span style="margin-right: 5px; font-size: 20px;"><i class="fas fa-store-alt"></i></span><a style="text-decoration: none; color: inherit;" href="/admin/rentproperties" title="View Rent Properties" >Rent Properties</a></strong></li>
            <li  class="list-group-item " style="background: none; color: rgb(213, 210, 241); border: none;"><strong> <span style="margin-right: 5px; font-size: 20px;"><i class="fas fa-house-damage"></i></span><a style="text-decoration: none; color: inherit;" href="/admin/saleproperties" title="View Sale Properties" >Sale Properties </a></strong></li> 
            <li  class="list-group-item " style="background: none; color: rgb(213, 210, 241); border: none;"><strong> <span style="margin-right: 5px; font-size: 20px;"><i class="fas fa-hotel"></i></span><a style="text-decoration: none; color: inherit;" href="/admin/mortgageproperties" title="View Sale Properties" >Mortgage Properties </a></strong></li> 
        
      </div>
            
        </div>
        <div class="col-md-9">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand text-brand" href="/home">Estate<span class="color-b">Agency</span></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                   
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex" style="float: right; margin-left: 550px;">
                     
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                           <strong><%=currentUser.username%></strong>
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                           
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                           
                          </ul>
                        </li>
                      
                      </ul>
                  </div>
                </div>
              </nav>
              <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 mt-5" style=" background-color: black;">
                        <h4 style="color: white;"><%=data.user.firstName%> <%=data.user.otherName%></h4>
                        <p style="color: white;"><%=data.user.username%></p>
                
                        <div class="agent-avatar-box">
                            <img src="/images/admin/user1.png" style="width: 200px;" alt="" class="agent-avatar img-fluid">
                          </div>
                    </div>
                    <div class="col-md-9 mt-5" style="overflow-x: auto; height: 1000px;  background-color: black; border-right: 4px solid white; border-left: 4px solid white; ">
                            <div style="background-color: rgb(85, 83, 83); padding: 20px; border-radius: 20px; margin-bottom: 30px;">
                                <p style="color: white;"><%=data.message%></p>
                            </div>
    
                            <div style=" border-radius: 20px 0 20px 0; padding: 20px; width: 400px;" id="messages" class="mb-4 message2">
                              <% data.messages.forEach(function(message){ %>
                                <p class="chat"> <strong><%= message.user.firstName%> </strong>  <%= message.message%></p>
                                  
                               <% }) %>
                           </div>
                           
                         
                            <div class="container" style="">
                              <br>
                              <div class="">
                                <p style="color: white;" class="typing" id="typing"> </p>
                                
                                  <br>
                                  <input type="hidden" id = "name" value="<%=currentUser.otherName%>" class="name form-control" placeholder="Name">
                                  <br>
                                  <textarea style="height: 40px; margin-right: 10px; "  id = "message" class="form-control search-text-input message" placeholder="Enter Message Here"></textarea>
                                 
                                  <button style="margin-top: 10px;"  id="send" class="btn btn-success button-holder"><i class="fas fa-paper-plane"></i></button>
                              </div>
                             
                          
                    </div>
                    <script>
                      var socket = io();
                      var typing=false;
                      var timeout=undefined;
                      var user;

                      // user typing 
                      $(document).ready(function(){
                          $('.message').keypress((e)=>{
                            if(e.which!=13){
                              typing=true
                              socket.emit('typing', {user: $("#name").val(), typing:true})
                              clearTimeout(timeout)
                              timeout=setTimeout(typingTimeout, 3000)
                            }else{
                              clearTimeout(timeout)
                              typingTimeout()
                              //sendMessage() function will be called once the user hits enter
                              sendMessage()
                            }
                          })

                        

                          socket.on("display", function(data){
                            if(data.typing==true){
                              $('#typing').text(`${data.user} is typing ...`)
                            }else{
                              $('#typing').text("")
                            }
                          })

                        
                    })

                    // STOP TYPING 

                    $(document).ready(function(){
                          $('.message').keydown(()=>{
                          
                              typing=false;
                              socket.emit('stopTyping', {user: " ", typing:false})
                              clearTimeout(timeout)
                              typingTimeout()
                              //sendMessage() function will be called once the user hits enter
                              sendMessage()
                           
                          })

                          socket.on("hidden", function(data){
                            if(data.typing===false){
                              $('#typing').text("")
                            }else{
                              $('#typing').text("")
                            }
                          })

                        
                    })

                  
                         // seding message
                       $(() => {
                           $("#send").click(()=>{
                               sendMessage({name: $("#name").val(), message: $("#message").val()});
                               $("#message").val("")
                           })
                   
                           getMessages()
                       })
                   
                       socket.on('message', addMessages)
                   
                       function addMessages(message){
                           $("#messages").append(`<p class="chat"> <strong>${message.name} </strong>  ${message.message}</p>`)
                           
                       }

                    
                   
                       function getMessages(){
                         $.get('https://estate-agency2.herokuapp.com/response/<%=data.id%>', (data) => {
                           data.forEach(addMessages);
                         })
                       }
                   
                       function sendMessage(message){
                         $.post('https://estate-agency2.herokuapp.com/response/<%=data.id%>', message)
                       }
                   </script>
                </div>
              </div>
            </div>
           
        </div>
       
    </div>
 </div>

 
  <!--/ Testimonials End /-->

  <!--/ footer Star /-->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        
          <div class="copyright-footer">
            <p class="copyright color-text-a">
              &copy; Copyright
              <span class="color-a">EstateAgency</span> All Rights Reserved.  Designed by <a href="#">infinite_Ideas</a>
            </p>
          </div>
         
        </div>
      </div>
    </div>
  </footer>
  <!--/ Footer End /-->

 

  <!-- JavaScript Libraries -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  
  <script src="/javascripts/lib/jquery/jquery.min.js"></script>
  <script src="/javascripts/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/javascripts/lib/popper/popper.min.js"></script>
  <script src="/javascripts/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="/javascripts/lib/easing/easing.min.js"></script>
  <script src="/javascripts/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/javascripts/lib/scrollreveal/scrollreveal.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="/javascripts/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/javascripts/js/main.js"></script>

</body>
</html>
