<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Estate Agency</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/images/img/favicon.png" rel="icon">
  <link href="/images/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/stylesheets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/stylesheets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="/stylesheets/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/stylesheets/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/stylesheets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <link
  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous"/>
<link rel="stylesheet" href="/css/style.css" />
  <!-- Main Stylesheet File -->
  <link href="/stylesheets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
   
    <style>
      .active{
        color: white !important;
      }
    
      /* div p {
        color: white;
        display: inline;
        margin-bottom: 20px;
        background-color: rgb(32, 29, 29);
        padding: 20px;
      } */
    
      .chat {
        background-color:rgb(128, 128, 128) ;
        color: white;
        padding: 20px;
        border-radius: 20px 0 20px 0;
        /* display: inline; */
        
      }
    
    
      /* @media only screen and (max-width: 768px) {
        .message {
        width: 400px !important;
      }
    } */
    
    .search-text-input{
          border-top:thin solid  #e5e5e5;
          border-right:thin solid #e5e5e5;
          border-bottom:0;
          border-left:thin solid  #e5e5e5;
          box-shadow:0px 1px 1px 1px #e5e5e5;
          float:left;
          /* height:17px; */
          margin:.8em 0 0 .5em; 
          outline:0;
          /* padding:.4em 0 .4em .6em;  */
          width:80%; 
        }
          
        .button-holder{
          /* background-color:#f1f1f1; */
          /* border-top:thin solid #e5e5e5; */
          box-shadow:1px 1px 1px 1px #e5e5e5;
          cursor:pointer;
          float:left;
          /* font-size: 30px; */
          /* height:27px; */
          margin:100px 0 0 0;
          text-align:center;
          width:50px;
        }
       
        .fas{
          font-size: 27px;
          
          margin-right: 13px;
        }
        .mobactive{
          color:rgb(63, 199, 95) !important;
        }
    
        @media only screen and (max-width: 600px) {
        .topmag{
          padding-top: 0;
          margin-top: 50px;
        }
        } */
       
      .typing{
      
  width: 100px;
  transition: width .20s ease-in-out;
  transition-delay: 20s;
      
      }
     
    </style>
  </head>
  <body>
    <div class="click-closed"></div>
  <!--/ Form Search Star /-->
  <div class="box-collapse">
    <div class="title-box-d">
      <h3 class="title-d">Search Property</h3>
    </div>
    <span class="close-box-collapse right-boxed ion-ios-close"></span>
    <div class="box-collapse-wrap form">
      <form action="/search" class="form-a" method="GET">
        <div class="row">
          <div class="col-md-12 mb-2">
            <div class="form-group">
              <label for="Type">Keyword</label>
              <input type="text" class="form-control form-control-lg form-control-a" placeholder="Keyword" name="dsearch">
            </div>
          </div>
         
          
          <div class="col-md-12">
            <button type="submit" class="btn btn-b">Search Property</button>
          </div>
        </div>
      </form>
    </div>
  </div>
   <!--/ Nav Star /-->
  <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top d-none d-lg-block">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a class="navbar-brand text-brand" href="/home">Estate<span class="color-b">Agency</span></a>
      <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-expanded="false">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>
      <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/property">Property</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blogs">Blog</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <% if(currentUser){ %>
              <% if(currentUser.isAdmin === true){ %>
                <a class="dropdown-item" href="/admin/dashboard">Admin Dashboard</a>
                <a class="dropdown-item" href="/logout">Logout</a>
               
              <% }else{ %>
                <a class="dropdown-item" href="/user/userprofile/<%=currentUser._id%>">View Profile</a>
               <a class="dropdown-item" href="/logout">Logout</a>
             <% } %>
              
             
               
              <% }else{ %>
                
                <div>
                  <button style="color: black; background-color: none; border: none; background: none;" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Register</button>
                </div>
                
                <div>
                  <button style="color: black; background-color: none; border: none; background: none;" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal2">Login</button>
        
                </div>
                
            
            
             
            </div>
            <% } %>
          </li>
        </ul>
      </div>
      <button type="button" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-expanded="false">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>
    </div>
  </nav>
  <!--/ Nav End /-->


  <div class="container d-lg-none" >
    <div class="row">
      <div class="col-4"> 

      </div>
        <div class="col-4">
            <a class="navbar-brand text-brand" href="/home">Estate<span class="color-b">Agency</span></a>
        </div>
        <div class="col-4"> 

        </div>
    </div>
  </div>
<!-- MOBILE VIEW NAV -->
<div class="container-fluid d-lg-none" style="margin-bottom: 40px;">
  <div class="row">
      <div class="col-12">
        <ul class="nav nav-tabs">
         
          <li class="nav-item">
            <a class="nav-link d-none d-md-block mdnav" style="font-size: 25px; font-weight: 600; color: rgb(0, 2, 0);" aria-current="page" href="/" >Home</a>
            <a class="nav-link  d-md-none d-lg-block" style="color:  rgb(0, 2, 0);" aria-current="page" href="/home" title="Home"> <i class="fas fa-store-alt"></i></a>
           
          </li>
          <li class="nav-item">
            <a class="nav-link d-none d-md-block mdnav" href="/about" style="font-size: 25px; font-weight: 600; color: rgb(0, 2, 0);">About</a>
            <a class="nav-link d-md-none d-lg-block  " style="color:  rgb(0, 2, 0);" aria-current="page" href="/about" title="About"> <i class="fas fa-question-circle"></i></a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link d-md-none  d-lg-block active  mobactive " style="color:  rgb(0, 2, 0);" aria-current="page" href="/property" title="Property"> <i class="fas fa-laptop-house"></i></a>
            <a class="nav-link d-none d-md-block mdnav active" href="/property" style="font-size: 25px; font-weight: 600; color: rgb(63, 199, 95);">Property</a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-md-none d-lg-block " style="color:  rgb(0, 2, 0);" aria-current="page" href="/blogs" title="Blogs"> <i class="fas fa-blog"></i></a>
            <a class="nav-link d-none d-md-block mdnav" href="/blogs" style="font-size: 25px; font-weight: 600; color: rgb(0, 2, 0);">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-md-none d-lg-block" style="color:  rgb(0, 2, 0);" aria-current="page" href="/contact" title="Contact"> <i class="fas fa-file-signature"></i></a>
            <a class="nav-link d-none d-md-block mdnav" href="/contact" style="font-size: 25px; font-weight: 600; color: rgb(0, 2, 0);">Contact</a>
          </li>
       
          <li class="nav-item dropdown" style="float: right;" >
            <a style="color: white; background: rgb(63, 199, 95); " class="nav-link dropdown-toggle btn btn-success d-md-none d-lg-block" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><span ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-justify"><line x1="21" y1="10" x2="3" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="21" y1="18" x2="3" y2="18"></line></svg></span></a>
            <a class="nav-link dropdown-toggle d-none d-md-block" style="font-size: 25px; font-weight: 600; color: rgb(0, 2, 0);" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Account</a>
            <ul class="dropdown-menu">
              <% if(currentUser){ %>
                <% if(currentUser.isAdmin === true){ %>
                  <a class="dropdown-item" href="/admin/dashboard">Admin Dashboard</a>
                  <a class="dropdown-item" href="/logout">Logout</a>
                  <% }else{ %>
                    <a class="dropdown-item" href="/user/userprofile/<%=currentUser._id%>">View Profile</a>
                   <a class="dropdown-item" href="/logout">Logout</a>
                 <% } %>
                 <% }else{ %>
    
                  <div>
                    <button style="color: black; background-color: none; border: none; background: none;" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Register</button>
                  </div>
                  
                  <div>
                    <button style="color: black; background-color: none; border: none; background: none;" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal2">Login</button>
              
                  </div>
                  
              
              
               
              </div>
              <% } %>
             
            </ul>
          </li>
        
        </ul>
        
      </div>
  </div>

</div>

 <div class="container-fluid">
    <div class="row">
        <div class="col-md-3" style="background-color: rgb(39, 39, 83); padding-bottom: 50px; padding-top: 50px;">
          <div class="card list-group" style="background: none; border: none; line-height: 50px; margin-top: 100px;">
            <li class="list-group-item " style="background: none; color: rgb(213, 210, 241); border: none;"><strong><span style="margin-right: 10px; font-size: 20px;"><i class="fas fa-user-circle"></i></span><a class="" style="text-decoration: none; color: inherit;" href="/user/userprofile/<%=currentUser._id%>" title="Go back to Admin Dashboard" >User Profile</a> </strong></li>
            
           
              <div class="">
               
                <h3 style="color: rgb(213, 210, 241); border: none; margin-left: 15px;"><i class="fas fa-users"></i> Active User</h3>
                <ul style="color: white; font-weight: 600;" id="users"></ul>
              </div>
      </div>
            
        </div>
        <div class="col-md-9" style="margin-top: 100px; background-color: black;">
          <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 mt-5">
                    <h4 style="color: white;"></h4>
                    <p style="color: white;"></p>
            
                    <div class="agent-avatar-box">
                        <img src="/images/admin/user1.png" style="width: 200px;" alt="" class="agent-avatar img-fluid">
                      </div>
                </div>
                <div class="col-md-9 mt-5" style=" background-color: black; border-right: 4px solid white; border-left: 4px solid white;">
                        <div style="background-color: rgb(85, 83, 83); padding: 20px; border-radius: 20px; margin-bottom: 50px;">
                          <div class="">
                            
                            <h2 style="font-size: 20px; color: white;" id="room-name" class="typing"></h2>
                           
                          </div>
                        </div>
                        <main class="">
                          <div class="chat-messages">
                            <% data.Chat.forEach(function(msg){ %>
                              <div class="message">
                                <p class="meta"><%=msg.sender%><span><%=msg.createdAt.toDateString()%></span></p>
                                <p class="text"><%=msg.message%></p>
                               </div>
                               <% }) %>
                          </div>
                        </main>
                        <div class="container">
                          <br>
                         
                          <p class="typing" style="color: white; position: absolute; margin-top: -30px; font-style: italic;" id="typing"></p>
                          <div class="">
                           
                         
                             
                             
                              <div class="chat-form-container">
      
                                <form id="chat-form">
                                  <input type="hidden" value="<%=currentUser.firstName%>" id="name" class="name">
                                  <input id="msg" name="message" class="message" type="text" placeholder="Enter Message" required autocomplete="off" />
                                  <button class="btn"><i class="fas fa-paper-plane"></i></button>
                                </form>
                              </div>
                          </div>
                         
                      </div>
                      </div>
                       
                </div>
            </div>
          </div>
        </div>
       
    </div>
 </div>

 
  <!--/ Testimonials End /-->


 <!--/ footer Star /-->
 <footer style="margin-top:">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      
        <div class="copyright-footer">
          <p class="copyright color-text-a">
            &copy; Copyright
            <span class="color-a">EstateAgency</span> All Rights Reserved.  Designed by <a href="#">infinite_Ideas</a>
          </p>
        </div>
       
      </div>
    </div>
  </div>
</footer>

  <!-- JavaScript Libraries -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.2/qs.min.js"integrity="sha256-TDxXjkAUay70ae/QJBEpGKkpVslXaHHayklIVglFRT4="crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>
<script src="/javascripts/lib/easing/easing.min.js"></script>
  <script src="/javascripts/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/javascripts/lib/popper/popper.min.js"></script>
  <script src="/javascripts/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script src="/javascripts/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/javascripts/lib/scrollreveal/scrollreveal.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="/javascripts/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/javascripts/js/main.js"></script>

</body>
</html>
